<!doctype html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nana Nosirova | Portfolio</title>
    <!--Bootstrap File-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">

    <link href="assets/css/animate.css" rel="stylesheet" type="text/css">
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">


    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">



    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
          rel="stylesheet"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
          crossorigin="anonymous">

    <link rel="icon" href="assets/images/nana_nobg.png">

</head>
<body>
<a href="#contact" id="to-contact" class="hidden"></a>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" id="navbar-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">Brand</a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav navbar-left">
                <li><a class='social-icons' href="https://github.com/nanalelfe" target="_blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#header" class="scroll-link" data-id="header">Home</a></li>
                <li><a href="#about" class="scroll-link" data-id="about">About</a></li>
                <li><a href="#portfolio" class="scroll-link" data-id="portfolio">Portfolio</a></li>
                <li><a href="#resume" class="scroll-link" data-id="resume">Resume</a></li>
                <li><a href="#contact" class="scroll-link" data-id="contact">Contact</a></li>
                <li></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header class="cover-img parallax" id="header">
    <div class="cover-text animated fadeInUp">
        <h1>Nana Nosirova</h1>
        <h4>Computer Science student at University of Toronto</h4>
    </div>
</header>

<main>
    <section id="about">
        <div class="container">
            <div class="about-title row">
                <h1>About me</h1>
                <hr>
                <div class="col-sm-12 col-md-6">
                    <h2>Nana Nosirova</h2>
                    <h4>Student at University of Toronto</h4>
                </div>
                <div class="col-sm-6 col-md-6">
                    <a href="assets/pdf/nana-nosirova-resume.pdf" target="_blank" class="btn btn-lg download pull-right" id="download" type="submit"><i class="fa fa-download" aria-hidden="true"></i> Download Resume</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <img src="assets/images/nana-opera.jpg" alt="Nana's picture" id="profile-pic" class="profile-pic">
                </div>
                <div class="text col-sm-8 col-md-8 col-lg-8">
                    <p>I am a third year U of T student pursuing a Bachelor's degree in Computer Science with a focus in
                        Artificial Intelligence. I am passionate about robots, machine learning and Game AI,
                        and I am fond of learning.
                        Watching and contributing to products built based on simple scribbles on whiteboard, abstract diagrams and vague
                        ideas are my true calling.
                    </p>
                    <p>I am currently working as a Teaching Assistant and Web developer at the University of Toronto.
                    </p>
                    <p>I grew up in Europe, mostly London and Paris, where I learned to speak both English and French
                        fluently before coming to Toronto at the age of 16. I feel very lucky to have been raised in
                        such a diverse environment, and I enjoy observing the similarities and differences between
                        various cultures. I use French, Russian, Uzbek and English interchangeably, and have taken
                        Spanish in school. As for my hobbies, aside from programming, I enjoy reading French literature,
                        kayaking and playing the piano.
                    </p>

                </div>

            </div>
        </div>
    </section>

    <aside class="languages parallax">
        <div class="panel">
            <div class="container">
                <div class="aside-text">
                    <h1 class="aside-title">Languages</h1>
                    <span class="line"></span>
                    <h2>English: fluent</h2>
                    <h2>French: fluent</h2>
                    <h2>Russian: fluent</h2>
                    <h2>Uzbek: fluent</h2>
                    <h2>Spanish: beginner</h2>
                </div>
            </div>
        </div>

    </aside>

    <section id="portfolio">
        <div class="container">
            <div class="portfolio-title">
                <h1>Portfolio</h1>
                <hr>
            </div>
            <div class="container" id="projects">
                <div class="row">
                    <div class="project collapse" id="solutions-repo">
                        <div class="project-title row">
                            <div class="col-md-6">
                                <h2>Solutions.Repo <span class="in-progress">(In progress)</span></h2>
                            </div>
                            <div class="col-md-6">
                                <a href="https://github.com/HumairAK/solutions_repo" target="_blank" type="button" class="btn btn-lg
                                    source-code pull-right inline" type="submit"><i class="fa fa-code" aria-hidden="true"></i> Source Code</a>
                                <a href="https://solutionsrepo.herokuapp.com/" target="_blank" type="button" class="btn btn-lg
                                    link-website pull-right inline" type="submit"><i class="fa fa-external-link" aria-hidden="true"></i> Link to Website</a>

                            </div>

                        </div>


                        <div class="row">
                            <div class="col-sm-12 col-md-6">

                                <!--<img class='img-responsive' src="assets/images/solutions_repo.png" alt="Solutions.Repo"> -->
                                <div id="solutions-carousel" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#solutions-carousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#solutions-carousel" data-slide-to="1"></li>
                                        <li data-target="#solutions-carousel" data-slide-to="2"></li>
                                        <li data-target="#solutions-carousel" data-slide-to="3"></li>
                                    </ol>

                                    <div class="carousel-inner" >
                                        <div class="item active">
                                            <img src="assets/images/solutions_repo/solutions_repo_main.png" alt="Main page">

                                        </div>
                                        <div class="item">
                                            <img src="assets/images/solutions_repo/solutions_repo_solutions.png" alt="Solutions page">

                                        </div>

                                        <div class="item">
                                            <img src="assets/images/solutions_repo/solutions_repo_profile.png" alt="Profile page">

                                        </div>
                                        <div class="item">
                                            <img src="assets/images/solutions_repo/solutions_repo_signin.png" alt="Signin page">

                                        </div>
                                        <a class="left carousel-control" href="#solutions-carousel" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#solutions-carousel" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>

                                </div>


                                <h5 class="collaborators">Collaborators: <a target="_blank" href="https://github.com/HumairAK">Humair Khan</a>, <a
                                        href="https://github.com/kdam0" target="_blank">Kumar Damani</a> & <a target="_blank" href="https://github.com/warefhaque">Waref Haque</a></h5>
                                <div class="project-description">
                                    <h3>Project Description: </h3> <p>As regular users of the U of T exam repository, we find the current
                                    state of the web app leaves much to be desired for. While the exams are made readily available,
                                    there are no solutions posted. This model isn't particularly helpful for students who are using
                                    the past exams as a studying strategy. Often students end up attempting these exams and discussing
                                    them in some third party forums (Piazza) which are not designed for this specific purpose. </p>
                                    <p>Our app brings this tired model to the internet age : Exam solutions can be accessed via a
                                        simple search or category.</p>

                                </div>

                                <div class="experience-gained">
                                    <h3>Experience Gained</h3>
                                    <div>
                                        <h4 class="inline">Server-side:</h5>
                                            <p class="inline">Node.js, Express</p>
                                    </div>
                                    <div>
                                        <h4 class="inline">Client-side:</h4>
                                        <p class="inline">Javascript/jQuery, Handlebars, Bootstrap, HTML5/CSS3</p>
                                    </div>
                                    <div>
                                        <h4 class="inline">Database:</h4>
                                        <p class="inline">MongoDB</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">

                                <div class="role">
                                    <h3>My Role: </h3>
                                    <ul>
                                        <li> <h4>User Signin and Signup, Authentication and Authorization:</h4></li>
                                        <ul>
                                            <li>All visitors can view information made available to the public</li>
                                            <li>Users and Admin accounts are authorized after a successful login</li>
                                            <li>Separate login for Users and Admins</li>
                                            <li>New users can signup for an account by entering their personal information, including email and new password</li>
                                            <li>Users can also signin using their existing Facebook accounts</li>
                                        </ul>
                                        <li><h4>Simple messaging system:</h4></li>
                                        <ul>
                                            <li>Users can send each other private messages</li>
                                        </ul>

                                        <li><h4>Forgot Password functionality: </h4></li>
                                        <ul>
                                            <li>When a user forgets their password, they get to enter their email address, to which we send a personalized message with a link
                                                that contains a token (linked to their account)</li>
                                        </ul>

                                        <li><h4>Front-end:</h4></li>
                                        <ul>
                                            <li>Implemented the main, solutions display, signin, signup and reset password pages. </li>
                                        </ul>

                                        <li class="pad-top"><h4 class="inline">Notification System </h4><span class="in-progress inline">(in progress)</span> <span class="inline"> - Users get notified when:</span></li>
                                        <ul>
                                            <li>Someone posts a solution to a question for an exam that the user has been following</li>
                                            <li>Someone sends them a private message</li>
                                            <li>Someone upvotes a solution that they have posted </li>
                                        </ul>

                                        <li class="pad-top"><h4 class="inline">Set up the Admins, Mail and Verifications collections for the database</h4><span class="inline">,
                                     and implemented the data retrieval functions.</span> </li>
                                        <li><h4 class="pad-top">GET and POST requests for the user profile</h4></li>
                                    </ul>
                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="project collapse" id="space-buster">
                        <div class="project-title row">
                            <div class="col-md-6">
                                <!-- Project Name -->
                                <h2>Space Buster!</h2>
                            </div>
                            <div class="col-md-6">
                                <!-- Project Source Code link -->
                                <a href="https://github.com/nanalelfe/space_buster" target="_blank" type="button" class="btn btn-lg
                                    source-code pull-right inline" type="submit"><i class="fa fa-code" aria-hidden="true"></i> Source Code</a>
                                <a href="http://nanalelfe.github.io/space_buster/" target="_blank" type="button" class="btn btn-lg
                                    link-website pull-right inline" type="submit"><i class="fa fa-external-link"
                                                                                     aria-hidden="true"></i> Link to Website</a>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">

                                <!-- Project Image -->
                                <!--<img class='img-responsive' src="assets/images/space_thumb.png" alt="Space buster"> -->
                                <div id="space-carousel" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#space-carousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#space-carousel" data-slide-to="1"></li>
                                        <li data-target="#space-carousel" data-slide-to="2"></li>
                                    </ol>

                                    <div class="carousel-inner" >
                                        <div class="item active">
                                            <img src="assets/images/space_thumb.png" alt="Main page">

                                        </div>
                                        <div class="item">
                                            <img src="assets/images/space_buster/space_buster_2.png" alt="Profile page">

                                        </div>
                                        <div class="item">
                                            <img src="assets/images/space_buster/space_buster_scores.png" alt="Solutions page">

                                        </div>


                                        <a class="left carousel-control" href="#space-carousel" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#space-carousel" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                                <h5 class="collaborators">Collaborators: <a  target="_blank" href="https://github.com/HumairAK">Humair Khan</a></h5>
                                <div class="role">
                                    <h3>My Role:</h3>
                                    <p>My responsibilities in the project included:</p>
                                    <ul>
                                        <li>Implementing the random movements of the space objects, as well as border
                                            collision detection.</li>
                                        <li>Drawing all of the space objects from stratch using HTML5 Canvas.</li>
                                        <li>Tackling the random spawn of the various different blackholes, as well as
                                            their disappearence when they reach their eating limit.</li>
                                        <li>Keeping track of the frequency of appearences of the different blackholes.</li>
                                        <li>Collaborated with partner in implementing the blackholes' pulling mechanism, and speed at which
                                            different blackholes pull objects. </li>
                                        <li>Keeping track of the game state.</li>
                                        <li>Recognizing when a user clicks a blackhole, which leads to its disappearance.</li>
                                    </ul>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="project-description">
                                    <h3>Project Description: </h3>

                                    <p>Before you is a solar system filled with all sorts of objects: planets, stars,
                                        asteroids, spacecraft, aliens, and more. However, black holes appear every few
                                        seconds and start to pull those objects towards them! If an object hits the centre
                                        of a black hole, the black hole eats it, meaning a loss of 50 points from your
                                        starting total of 200 points. Additionally, once a black hole has had its fill,
                                        it will disappear back into the ether.</p>
                                    <p>The game is time-based, and each level lasts 60 seconds. The game moves on to
                                        the next level or ends if it’s the last level when the time is up or when the
                                        black holes have eaten all of the objects in the solar system. If at least one
                                        object remains, you can move on to the next level.
                                    </p>

                                    <p>
                                        There are three types of black holes in the game: blue (slow pull), purple
                                        (medium pull), and black (fast pull). Each time you destroy (mouse click) a
                                        black hole, you receive points (but all objects it’s eaten are gone forever):
                                        5 for blue, 10 for purple, and 20 for black. Once a black hole has eaten a
                                        certain number of objects – 3 for blue, 2 for purple, and 1 for black - it
                                        will disappear, meaning you lose the opportunity to earn points.
                                    </p>

                                </div>

                                <div class="experience-gained">
                                    <h3>Experience Gained</h3>
                                    <ul>
                                        <li>HTML5/CSS3</li>
                                        <li>HTML5 Canvas</li>
                                        <li>Javascript/jQuery</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="project collapse" id="breakout">
                        <div class="project-title row">
                            <div class="col-md-6">
                                <!-- Project Name -->
                                <h2>Wall-beater</h2>
                            </div>
                            <div class="col-md-6">
                                <!-- Project Source Code link -->
                                <a href="https://github.com/nanalelfe/wall_beater" target="_blank" type="button" class="btn btn-lg
                                    source-code pull-right" type="submit"><i class="fa fa-code" aria-hidden="true"></i> Source Code</a>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">

                                <!-- Project Image -->
                                <img class='img-responsive' src="assets/images/breakout.gif" alt="Breakout">
                                <h5 class="collaborators">Collaborators: <a target="_blank" href="https://github.com/HumairAK">Humair Khan</a></h5>

                                <div class="project-description">
                                    <h3>Project Description</h3>
                                    <p>Wall beater is a game consisting of a block of bricks that the player has to break
                                        down using a single ball.</p>
                                    <p>There are in total six rows of bricks, each row being a different color. If the
                                        player breaks a brick in the first row, he earns one point. The number of points
                                        to be earned increases as the player breaks a brick of a higher row. The player's
                                        goal is to hit as many of the bricks as possible (and thus earn as many points
                                        as possible), by using the ball which bounces back and forth between the wall
                                        of bricks and a paddle located at the bottom of the screen. If the player fails
                                        to bounce the ball using the paddle, he/she loses the game.</p>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="role">
                                    <h3>My Role</h3>
                                    <p>My role in the project was to:</p>
                                    <ul>
                                        <li>Implement the ball movement functionality, where the ball keeps moving
                                            towards a direction until a collision is detected, at which point it moves
                                            the opposite way.</li>
                                        <li>Implement the paddle movement functionality (left or right), controlled
                                            by the player. </li>
                                        <li>Draw all of the sprites (ball, paddle and bricks) pixel by pixel at each
                                            game cycle using two counters each, which generate the x and y coordinates
                                            of where each sprite needs to be plotted.</li>
                                        <li>Create a Finite State Machine that keeps track of the game cycle and controls
                                            the sprites accordingly. Each cycle represents a ball or paddle movement,
                                            as well as a brick collision.</li>
                                        <li>Implement a control that keeps track of the overall state of the game (
                                            Reset game, play game, restart game), and transfers any change to the screen.</li>
                                        <li>Tackle the score count and display functionalities.</li>
                                        <li>Connect all the modules together to make them operate in tandem.</li>
                                    </ul>
                                </div>

                                <div class="experience-gained">
                                    <h3>Experience Gained</h3>
                                    <ul>
                                        <li>Verilog</li>
                                        <li>FPGA - DE1-SOC Board</li>
                                        <li>Modelsim - FPGA Design simulation</li>
                                        <li>Quartus - Programmable logic device design software</li>
                                        <li>Finite State Machines (FSM) and Datapath design</li>
                                        <li>Sequential Circuit design</li>
                                        <li>Circuit Technology (transistors, logic gates, integrated circuits)</li>
                                        <li>Encoders/Decoders, Multiplexers/Demultiplexers</li>
                                        <li>Latches, Flip-flops</li>
                                        <li>Registers, random access memory (RAM), read-only memory (ROM)</li>
                                        <li>Incrementers, Counters, Adders</li>
                                        <li>Arithmetic and Logic Units (ALU)</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="project collapse" id="game-center">
                        <div class="project-title row">
                            <div class="col-md-6">
                                <!-- Project Name -->
                                <h2>Game Center: Tippy Game, Subtract Square and Minimax AI</h2>
                            </div>
                            <div class="col-md-6">
                                <!-- Project Source Code link -->
                                <a href="https://github.com/nanalelfe/game-center" target="_blank" type="button" class="btn btn-lg
                                    source-code pull-right" type="submit"><i class="fa fa-code" aria-hidden="true"></i> Source Code</a>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">

                                <!-- Project Image -->
                                <div id="game-center-carousel" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#game-center-carousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#game-center-carousel" data-slide-to="1"></li>
                                        <li data-target="#game-center-carousel" data-slide-to="2"></li>
                                    </ol>

                                    <div class="carousel-inner" >
                                        <div class="item active">
                                            <img src="assets/images/game_center/tippy1.png" alt="Tippy game">

                                        </div>
                                        <div class="item">
                                            <img src="assets/images/game_center/tippy2.png" alt="Tippy game">

                                        </div>

                                        <div class="item">
                                            <img src="assets/images/game_center/tippy3.png" alt="Tippy game">

                                        </div>

                                        <a class="left carousel-control" href="#game-center-carousel" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#game-center-carousel" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>

                                </div>
                                <h5 class="collaborators">Collaborators: <a href="https://github.com/HumairAK" target="_blank">Humair Khan</a></h5>

                                <div class="project-description">
                                    <h3>Project Description</h3>
                                    <p>The project consists of a Game Center which contains two games, each of which
                                        are two-player, sequential-move, zero-sum and perfect-information:</p>

                                    <h4>
                                        Tippy Game:
                                    </h4>
                                    <p>Tippy is a variation of tic-tac-toe. Players take turns placing either an X or an O
                                        on an nxn grid (where n is at least 3, and is specified by the player before
                                        game-start). Tippies correspond to the Z and S tetrominos (aka tetriminos)
                                        from tetris. On a 3 x 3 grid there are 8 possible tippies, and more on a larger grid.</p>
                                    <!-- **** Place image here ****/ -->
                                    <p>Unlike Tic-tac-toe there is a winning tippy strategy for whichever player moves first.
                                        In other words, if the first player always chooses the best move, her or she will always
                                        win the game of tippy. Compare this to the situation in tic-tac-toe where if both
                                        players choose the best possible move, the result is always a tie.</p>

                                    <h4>Subtract Square</h4>
                                    <ul>
                                        <li>A positive whole number is randomly chosen as the starting value by some neutral
                                            entity. In our case, the computer will choose it randomly.</li>
                                        <li>The player whose turn it is chooses some square of a positive whole number
                                            (such as 1, 4, 9, 16, . . . ) to subtract from the value, provided the chosen square
                                            is not larger. After subtracting, we have a new value and the next player chooses
                                            a square to subtract from it.</li>
                                        <li>Play continues to alternate between the two players until no moves are possible.
                                            Whoever is about to play at that point loses!</li>
                                    </ul>

                                    <p>The players in the game are the human player and an AI. At the beginning of the game,
                                        the human player decides what type of AI he/she wants to face, as well as the size of
                                        the grid.</p>


                                </div>

                            </div>

                            <div class="col-md-6">
                                <p>There are five types of AIs:</p>

                                <ul>
                                    <li><h5 class="inline">Random Strategy</h5><span class="inline">: The AI picks moves randomly.</span></li>
                                    <li><h5 class="inline">Minimax Strategy</h5><span class="inline">: The AI evaluates all of the possible moves, and chooses
                                            the strongest possible move by picking one that returns the highest score. The
                                            algorithm does not contain any optimization techniques.</span> </li>
                                    <li><h5 class="inline">Minimax Memoize</h5><span class="inline">: The AI performs the same operations as the regular Minimax
                                            Strategy. However, it uses the method of memoization, an optimization
                                            technique that avoids redundancy by storing the positions it has come across in a dictionary,
                                            where the position and its corresponding "score" are stored. Hence,
                                            when the algorithm comes across a position it has already seen, it does not have
                                            to make another expensive recursive call.</span></li>
                                    <li><h5 class="inline">Minimax Pruning (Alpha-Beta Pruning)</h5><span class="inline">: Minimax is presented with a huge tree of game state
                                            (position) sequences. However, some careful consideration shows that, in
                                            many situations, Minimax may ignore huge portions of the tree, since the
                                            position sequences in those portions won't change the outcome of the game.
                                            Hence, in this technique, minimax is optimized by keeping track of the score
                                            already guaranteed to each opponent, and abandoning further search whenever
                                            the score guaranteed for itself is greater than the score guaranteed to
                                            its opponent. </span></li>
                                    <li><h5 class="inline">Minimax Myopia</h5><span class="inline">: In this technique, minimax looks ahead of the game by only
                                            some n moves. If minimax looks ahead n moves and the game has not ended, then it should
                                            use its best guess to provide a score for that game position. This is not as
                                            accurate as looking all the way ahead, but saves computational resources.</span> </li>
                                </ul>

                                <div class="role">
                                    <h3>My Role</h3>

                                    <h4>General</h4>
                                    <ul>
                                        <li>Used the inheritance approach to implement a generic Move module, which represents
                                            a generic move for a two-player, sequential-move, zero-sum and perfect information game. </li>
                                        <li>Implemented the player's view of the game, including informing them of the
                                            goal and rules, move prompting, checking if a move is legal, showing what
                                            the AI has chosen and indicating whether a player has won. </li>
                                    </ul>

                                    <h4>Tippy Game</h4>
                                    <ul>
                                        <li>Implemented the Tippy Game state module, which inherits the generic game state module. </li>
                                    </ul>

                                    <h4>Subtract Square</h4>
                                    <ul>
                                        <li>Implemented the Subtract Square Move module, which inherits the generic Move module.</li>
                                    </ul>

                                    <h4>AI</h4>
                                    <ul>
                                        <li>Worked as a team with my partner and solved the regular Minimax, Minimax Memoization,
                                            Minimax Pruning and Minimax Mypia AIs. </li>
                                    </ul>
                                </div>

                                <div class="experience-gained">
                                    <h3>Experience Gained</h3>
                                    <ul>
                                        <li>Python</li>
                                        <li>Computer game strategies</li>
                                        <li>Minimax Algorithm Strategy</li>
                                        <li>Object-Oriented Programming (OOP)</li>
                                        <li>Inheritance and Abstraction</li>
                                        <li>Trees, Recursion</li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="project collapse" id="nyt-api">
                        <div class="project-title row">
                            <div class="col-md-6">
                                <!-- Project Name -->
                                <h2>N.Y.T. - RESTful API</h2>
                            </div>
                            <div class="col-md-6">
                                <!-- Project Source Code link -->
                                <a href="https://github.com/nanalelfe/nyt_api" target="_blank" type="button" class="btn btn-lg
                                    source-code pull-right inline" type="submit"><i class="fa fa-code" aria-hidden="true"></i> Source Code</a>
                                <a href="https://nyt-restful-api.herokuapp.com/" target="_blank" type="button" class="btn btn-lg
                                    link-website pull-right inline" type="submit"><i class="fa fa-external-link" aria-hidden="true"></i> Link to Website</a>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">

                                <!-- Project Image -->
                                <!--<img class='img-responsive' src="assets/images/nyt.png" alt="The New York Times Restful API">-->
                                <div id="nyt-carousel" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#nyt-carousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#nyt-carousel" data-slide-to="1"></li>
                                        <li data-target="#nyt-carousel" data-slide-to="2"></li>
                                    </ol>

                                    <div class="carousel-inner" >
                                        <div class="item active">
                                            <img src="assets/images/nyt/nyt1.png" alt="Main page">

                                        </div>
                                        <div class="item">
                                            <img src="assets/images/nyt/nyt2.png" alt="Main page">

                                        </div>
                                        <div class="item">
                                            <img src="assets/images/nyt/nyt3.png" alt="Main page">

                                        </div>
                                        <div class="item">
                                            <img src="assets/images/nyt/nyt4.png" alt="Main page">

                                        </div>



                                        <a class="left carousel-control" href="#nyt-carousel" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#nyt-carousel" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>


                                <div class="project-description">
                                    <h3>Project Description</h3>
                                    <p>Websites and web services are increasingly providing strong open access RESTful
                                        APIs that allow outside developers to explore the wealth of data they manage.
                                        The New York Times, for instance, provides access to top articles, movie and book
                                        reviews, tag and geographical metadata, and more. However, we can’t be certain
                                        that this data will always be available from their API. To account for this,
                                        I've decided to retrieve a list with the latest top stories having to do with
                                        technology as a JSON object and create a simple website that uses a custom
                                        RESTful API to selectively display all or part of these articles.
                                    </p>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="role">
                                    <h3>My Role:</h3>
                                        <p>My role was to implement a RESTful API that is able to respond, give appropriate
                                            data, to the following requests, with relevant front-end updating:</p>
                                        <ul>
                                            <li>GET all articles displayed in basic text format (published_date, title, abstract, snf short_url).</li>
                                            <li>GET a list of all known authors from all articles.</li>
                                            <li>GET a list of all article short URLs. The URLs are hyperlinked and grouped by published_date.</li>
                                            <li>GET a list of tags from the des_facet field. Tags with more articles have a larger font size.</li>
                                            <li>GET the details of a given article based on its index (starting with 0).
                                                Details include: section, subsection, title, abstract, byline, published_date,
                                                and des_facet treated as a list of article tags.</li>
                                            <li>GET all articles displayed as hyperlinked images.</li>
                                        </ul>
                                </div>
                                <div class="experience-gained">
                                    <h3>Experience Gained</h3>
                                    <div>
                                        <h4 class="inline">Back-end:</h5>
                                        <p class="inline">Node.js</p>
                                    </div>
                                    <div>
                                        <h4 class="inline">Front-end:</h4>
                                        <p class="inline">Javascript/jQuery, AJAX, HTML5/CSS3</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="project collapse" id="personal-website">
                        <div class="project-title row">
                            <div class="col-md-6">
                                <!-- Project Name -->
                                <h2>Nana Nosirova's Portfolio Website</h2>
                            </div>
                            <div class="col-md-6">
                                <!-- Project Source Code link -->
                                <a href="https://github.com/nanalelfe/nanalelfe.github.io" target="_blank" type="button" class="btn btn-lg
                                    source-code pull-right" type="submit"><i class="fa fa-code" aria-hidden="true"></i> Source Code</a>
                            </div>

                        </div>
                        <div class='row'>
                            <div class="col-md-6">

                                <!-- Project Image -->
                                <img class='img-responsive' src="assets/images/portfolio.png" alt="Personal Portfolio Website">

                            </div>

                            <div class="col-md-6">
                                <div class="project-description">
                                    <h3>Project Description</h3>
                                    <p>My little personal web space where I share my accomplishments, skills and experiences.</p>
                                </div>

                                <div class="experience-gained">
                                    <h3>Experience Gained</h3>
                                    <div>
                                        <h4 class="inline">Back-end:</h4>
                                            <p class="inline">Node.js, Express (for the contact form)</p>
                                    </div>
                                    <div>
                                        <h4 class="inline">Front-end:</h4>
                                        <p class="inline">HTML5/CSS3, Bootstrap, Javascript/jQuery</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="project collapse" id="vacuum-race">
                        <div class="project-title row">
                            <div class="col-md-6">
                                <h2>The Great Vacuum Race</h2>
                            </div>
                            <div class="col-md-6">
                                <!-- Project Source Code link -->
                                <a href="https://github.com/nanalelfe/vacuum_race" target="_blank" type="button" class="btn btn-lg
                                    source-code pull-right" type="submit"><i class="fa fa-code" aria-hidden="true"></i> Source Code</a>
                            </div>
                        </div>
                        <div class='row'>
                            <div class="col-md-6">

                                <!-- Project Image -->
                                <img class='img-responsive' src="assets/images/vacuum_game_1.png" alt="The Great Vacuum Race">

                                <div class="project-description">
                                    <h3>Project Description</h3>
                                    <p>The game board is a 2-dimensional grid. Each cell in this grid represents either
                                        a section of hallway, a piece of wall, or a dumpster. There are two players in
                                        this game — two vacuums. Some of the cells are dirty: they contain dirt or dustballs.
                                        The vacuums’ objective is to clean up as many dirty cells as possible. The dirt
                                        is stationary, but the dustballs move about the grid and each cell that a dustball
                                        visits becomes dirty (if it wasn’t already) when the dustball leaves. The image
                                        above shows the initial state of the vacuum game. Notice the two vacuums,
                                        16 dirty cells, four dustballs, and three dumpsters.</p>

                                    <p>Vacuum 1 moves left when the user presses the 'a' key, moves right on the 'd' key,
                                        moves up on the 'w' key and moves down on the 's' key. Similarly, vacuum 2 moves
                                        left on the 'j' key, moves right on the 'l' key, moves up on the 'i' key and
                                        moves down on the 'k' key.</p>

                                    <p>A vacuum cannot move onto the other vacuum (or a wall, of course), but can move
                                        onto dirt, a dust ball, a dumpster (or clean hallway, of course). After a vacuum
                                        moves, if there are dustballs, they move randomly.
                                    </p>
                                    <p>Each time a vacuum cleans dirt, the vacuum’s score is incremented; the vacuum
                                        earns 1 point for cleaning a dirt, and 2 points for cleaning a dustball.</p>

                                </div>

                            </div>

                            <div class="col-md-6">


                                <p>Each vacuum has a capacity. Cleaning up dirt or a dustball adds a constant amount
                                    to the fullness of the vacuum. When a vacuum becomes full, it cannot clean any
                                    more dirt; it can still go to dirty hallways, but it has no effect on the dirt
                                    that is there. A vacuum that enters a cell with a dumpster is emptied (i.e., it
                                    has zero fullness); thus, if a vacuum is full, in order to resume cleaning dirt,
                                    it must visit a dumpster. Dumpsters have no limit on their capacity.
                                    The game ends when all dirt (including dustballs) is gone. The vacuum with the
                                    higher score wins, or, if the two scores are equal, we declare a tie.</p>
                                <div class="role">
                                    <h3>My Role</h3>
                                    <p>My role was to implement the whole game, including: </p>
                                    <ul>
                                        <li>Vacuum Game class, where a Grid of Sprites is stored and manipulated.</li>
                                        <li>The Grid interface, which keeps track of all the Sprite locations.</li>
                                        <li>ArrayGrid, an implementation of the Grid interface.</li>
                                        <li>Sprite abstract class, which represents a sprite in the Vacuum game.</li>
                                        <li>Moveable interface, which represents a moveable object in the game.</li>
                                        <li>All the sprite classes inheriting the Sprite class - Wall, Dumpster,
                                            CleanHallway, Vacuum, Dirt, Dustball. The Vacuum and Dustball classes also
                                            implement the Moveable interface, since they move throughout the game.</li>
                                        <li>Play class, which starts the game.</li>
                                    </ul>
                                </div>


                                <div class="experience-gained">
                                    <h3>Experience Gained</h3>
                                    <ul>
                                        <li>Java</li>
                                        <li>Object-Oriented Programming (OOP)</li>
                                        <li>Inheritance</li>
                                        <li>UML and OO design</li>
                                        <li>Abstract Classes, Interfaces</li>
                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row thumbnails">
                <!-- Thumbnail -->
                <div class="col-sm-6 col-md-6">
                    <a type="button" class="btn btn-info thumb-collapse scroll-link" data-id="projects"
                       data-toggle="collapse" data-target="#solutions-repo">
                        <div class="thumbnail">
                            <!-- Project Image -->
                            <img class='img-responsive' src="assets/images/solutions_repo.png" alt="Solutions.Repo">
                            <!-- Project Description -->
                            <div class="caption">
                                <h3>Solutions.Repo <span class="in-progress">(In progress)</span></h3>
                                <p>A web app that allows students to view and share test/exam solutions. The app is
                                    currently designed for U of T students with plans of making it available to students
                                    in universities all over the world.</p>
                            </div>
                        </div>

                    </a>
                </div>
                <div class="col-sm-6 col-md-6">
                    <a type="button" class="btn btn-info thumb-collapse scroll-link" data-id="projects"
                       data-toggle="collapse" data-target="#space-buster">
                        <div class="thumbnail">
                            <img class='img-responsive' src="assets/images/space_thumb.png" alt="Space buster!">
                            <div class="caption">
                                <h3>Space buster!</h3>
                                <p>A single player game where the objective is to prevent blackholes from eating the
                                    solar system by clicking on them before they disappear.</p>
                            </div>
                        </div>

                    </a>
                </div>
            </div>
            <div class="row thumbnails">
                <!-- Thumbnail -->
                <div class="col-sm-6 col-md-6">
                    <a type="button" class="btn btn-info thumb-collapse scroll-link" data-id="projects"
                       data-toggle="collapse" data-target="#breakout">
                        <div class="thumbnail">
                            <!-- Project Image -->
                            <img class='img-responsive' src="assets/images/breakout.gif" alt="Breakout">
                            <!-- Project Description -->
                            <div class="caption">
                                <h3>Wall-beater</h3>
                                <p>Based on the Atari game "Breakout", where the goal is to break down as many of the
                                     displayed bricks as possible.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Thumbnail -->
                <div class="col-sm-6 col-md-6">
                    <a type="button" class="btn btn-info thumb-collapse scroll-link" data-id="projects"
                       data-toggle="collapse" data-target="#vacuum-race">
                        <div class="thumbnail">
                            <!-- Project Image -->
                            <img class='img-responsive' src="assets/images/vacuum_game.png" alt="The Great Vacuum Race">
                            <!-- Project Description -->
                            <div class="caption">
                                <h3>The Great Vacuum Race</h3>
                                <p>A two-player game where each player (vacuum) needs to earn as many points as possible
                                    by collecting dust.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row thumbnails">
                <!-- Thumbnail -->
                <div class="col-sm-6 col-md-6">
                    <a type="button" class="btn btn-info thumb-collapse scroll-link" data-id="projects"
                       data-toggle="collapse" data-target="#game-center">
                        <div class="thumbnail">
                            <!-- Project Image -->
                            <img class='img-responsive' src="assets/images/game_center/tippy1.png" alt="Tippy game">
                            <!-- Project Description -->
                            <div class="caption">
                                <h3>Game Center: Tippy Game, Subtract Square and Minimax AI</h3>
                                <p>A game center containing Tippy Game, a variation of Tic-Tac-Toe,
                                    and Subtract Square, a game consisting of subtracting a number until it becomes 0.
                                    The human player has the choice to face an AI based on the Minimax Algorithm.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Thumbnail -->
                <div class="col-sm-6 col-md-6">
                    <a type="button" class="btn btn-info thumb-collapse scroll-link" data-id="projects"
                       data-toggle="collapse" data-target="#nyt-api">
                        <div class="thumbnail">
                            <!-- Project Image -->
                            <img class='img-responsive' src="assets/images/nyt.png" alt="New York Times Restful API">
                            <!-- Project Description -->
                            <div class="caption">
                                <h3>The New York Times - RESTful API</h3>
                                <p>A set of RESTful APIs capable of reading the JSON file from the New York Times
                                     official API, deployed on a Node.js server.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Thumbnail -->

            </div>
            <div class="row thumbnails">
                <div class="col-sm-6 col-md-6">
                    <a type="button" class="btn btn-info thumb-collapse scroll-link" data-id="projects"
                       data-toggle="collapse" data-target="#personal-website">
                        <div class="thumbnail">
                            <!-- Project Image -->
                            <img class='img-responsive' src="assets/images/portfolio.png" alt="Personal Portfolio Website">
                            <!-- Project Description -->
                            <div class="caption">
                                <h3>Nana Nosirova's Portfolio Website</h3>
                                <p>A personal website where my projects are demonstrated and my
                                    resume is up for download. </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


        </div>
    </section>

    <aside class="prog-lang parallax">
        <div class="panel">
            <div class="container">
                <div class="aside-text">
                    <h1 class="aside-title">Programming Experience</h1>
                    <span class="line"></span>
                    <div class="col-md-6">
                        <div class="bars">
                            <ul class="skills">
                                <li><span data-width="80" class="bar java pull-left small"><em>Java</em></span></li>
                                <li><span data-width="50" class="bar c pull-left small"><em>C</em></span></li>
                                <li><span data-width="60" class="bar python pull-left small"><em>Python</em></span></li>
                                <li><span data-width="70" class="bar javascript pull-left small"><em>Javascript</em></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="bars">
                            <ul class="skills">
                                <li><span data-width="80" class="bar html-css pull-left small"><em>HTML5/CSS3</em></span></li>
                                <li><span data-width="60" class="bar node pull-left small"><em>Node.js</em></span></li>
                                <li><span data-width="60" class="bar jquery pull-left small"><em>JQuery</em></span></li>
                                <li><span data-width="50" class="bar android pull-left small"><em>Android</em></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </aside>

    <section id="resume">
        <div class="container">
            <div class="resume-title row">
                <div class="col-md-6">
                    <h1>My Resume</h1>
                    <hr>
                </div>
                <div class="col-md-6">
                    <a href="assets/pdf/nana-nosirova-resume.pdf" target="_blank" class="btn btn-lg download pull-right" type="submit"><i class="fa fa-download" aria-hidden="true"></i> Download Resume</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="resume-item education">
                        <h2 class="resume-item-title"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Education</h2>
                        <div class="education1">
                            <h3>University of Toronto - St George Campus</h3>
                            <h4>Bachelor of Science (BSc), Computer Science</h4>
                            <h6>2014 - Present</h6>
                            <ul>
                                <li>Focus in Artificial Intelligence (Machine Learning & Knowledge Representation and Reasoning).</li>
                                <li>Entrance Scholarship, University of Toronto - Award for students with an admission average of 92% or higher.</li>
                                <li>William Waters Commerce and Finance Award, University of Toronto - Awarded for academic excellence.</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="resume-item skills">
                        <h2 class="resume-item-title"><i class="fa fa-compass" aria-hidden="true"></i> Skills</h2>
                        <div class="programming">
                            <div class="col-sm-12 col-md-6 col-lg-6 gen-skills">
                                <h4>General</h4>
                                <ul>
                                    <li>Java</li>
                                    <li>Python</li>
                                    <li>C</li>
                                    <li>Javascript</li>
                                    <li>Android</li>
                                    <li>Bash</li>
                                    <li>Verilog (HDL)</li>
                                    <li>Assembly MIPS</li>
                                    <li>Object-Oriented Programming (OOP)</li>
                                </ul>

                                <h4>Methodologies</h4>
                                <ul>
                                    <li>UML</li>
                                    <li>Design Patterns</li>
                                </ul>

                                <h4>Databases</h4>
                                <ul>
                                    <li>MongoDB</li>
                                </ul>

                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 gen-skills">
                                <h4>Web</h4>
                                <ul>
                                    <li>HTML5/CSS3</li>
                                    <li>jQuery</li>
                                    <li>Node.js</li>
                                    <li>Handlebars.js</li>
                                    <li>Bootstrap</li>
                                </ul>
                                <h4>Tools</h4>
                                <ul>
                                    <li>Vim</li>
                                    <li>Eclipse</li>
                                    <li>Webstorm</li>
                                    <li>Wing</li>
                                </ul>
                                <h4>Version Control</h4>
                                <ul>
                                    <li>Git</li>
                                    <li>Subversion</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12">
                    <div class="resume-item coursework">
                        <h2 class="resume-item-title"><i class="fa fa-book" aria-hidden="true"></i> Coursework</h2>
                        <div class="col-sm-12 col-md-4 courses">
                            <div class="course">

                                <a href="#csc384" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#csc384">
                                    <h4>CSC384</h4>
                                    <h5>Introduction to Artificial Intelligence</h5>
                                    <h6 class="currently-enrolled">(Currently enrolled)</h6>
                                </a>
                                <div class="collapse" id="csc384">
                                    <p class="small">Theories and algorithms that capture (or approximate) some of the core elements
                                        of computational intelligence. Topics include: search; logical representations and reasoning,
                                        classical automated planning, representing and reasoning with uncertainty, learning, decision
                                        making (planning) under uncertainty.</p>
                                </div>
                                <div class="chevron">
                                    <a href="#csc384" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#csc384">
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    </a>
                                </div>

                            </div>

                            <div class="course row-middle">
                                <a href="#csc318" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#csc318">
                                    <h4>CSC318</h4>
                                    <h5>The Design of Interactive Computational Media</h5>
                                    <h6>Grade: A+</h6>
                                </a>
                                <div class="collapse" id="csc318">
                                    <p class="small">User-centred design of interactive systems; methodologies, principles,
                                        and metaphors; task analysis. Interdisciplinary design; the role of graphic design,
                                        industrial design, and the behavioural sciences. Interactive hardware and software;
                                        concepts from computer graphics. </p>
                                </div>
                                <div class="chevron">
                                    <a href="#csc318" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#csc318">
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="course row-middle">

                                <a href="#csc300" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#csc300">
                                    <h4>CSC309</h4>
                                    <h5>Programming on the Web</h5>
                                    <h6>Grade: A</h6>
                                </a>

                                <div class="collapse" id="csc300">
                                    <p class="small">An introduction to software development on the web. Operational concepts
                                        of the internet and the web, static client content, dynamic client content,
                                        dynamically served content, n-tiered architectures,
                                        web development processes, and security on the web.</p>
                                </div>

                                <div class="chevron">
                                    <a href="#csc300" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#csc300">
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    </a>
                                </div>

                            </div>

                            <div class="course row-middle">

                                <a href="#csc148" class="btn" role="button" data-toggle="collapse" aria-expanded="false"
                                   aria-controls="#csc148">
                                    <h4>CSC148</h4>
                                    <h5>Introduction to Computer Science</h5>
                                    <h6>Grade: A+</h6>
                                </a>
                                <div class="collapse" id="csc148">
                                    <p class="small">Abstract data types and data structures for implementing them. Linked data structures.
                                        Encapsulation and information-hiding. Object-oriented programming. Specifications.
                                        Analyzing the efficiency of programs. Recursion.</p>
                                </div>
                                <div class="chevron">
                                    <a href="#csc148" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#csc148">
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    </a>
                                </div>

                            </div>


                            <div class="course row-middle">
                                <a href="#csc369" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#csc369">
                                    <h4>CSC369</h4>
                                    <h5>Operating Systems</h5>
                                    <h6>Grade: B+</h6>
                                </a>
                                <div class="collapse" id="csc369">
                                    <p class="small">Principles of operating systems. The operating system as a control
                                        program and as a resource allocator. The concept of a process and concurrency problems:
                                        synchronization, mutual exclusion, deadlock. Additional topics: memory management,
                                        file systems, process scheduling, threads, and protection.</p>
                                </div>
                                <div class="chevron">
                                    <a href="#csc369" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#csc369">
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="course row-last">
                                <a href="#csc258" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#csc258">
                                    <h4>CSC258</h4>
                                    <h5>Computer Organization</h5>
                                    <h6>Grade: A-</h6>
                                </a>
                                <div class="collapse" id="csc258">
                                    <p class="small">Computer structures, machine languages, instruction execution,
                                        addressing techniques, and digital representation of data. Computer system
                                        organization, memory storage devices, and microprogramming. Block diagram
                                        circuit realizations of memory, control and arithmetic functions. </p>
                                </div>

                                <div class="chevron">
                                    <a href="#csc258" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#csc258">
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    </a>
                                </div>

                            </div>


                        </div>
                        <div class="col-sm-12 col-md-4 courses">
                            <div class="course">

                                <a href="#sta248" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#sta248">
                                    <h4>STA248</h4>
                                    <h5>Statistics for Computer Scientists</h5>
                                    <h6 class="currently-enrolled">(Currently enrolled)</h6>
                                </a>
                                <div class="collapse" id="sta248">
                                    <p class="small">A survey of statistical methodology with emphasis on data analysis and applications.
                                        The topics covered include descriptive statistics, data collection and the design of experiments,
                                        univariate and multivariate design, tests of significance and confidence intervals, power, multiple
                                        regression and the analysis of variance, and count data.</p>
                                </div>
                                <div class="chevron">
                                    <a href="#sta248" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#sta248">
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    </a>
                                </div>

                            </div>

                            <div class="course row-middle">
                                <a href="#csc301" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#csc301">
                                    <h4>CSC301</h4>
                                    <h5>Introduction to Software Engineering</h5>
                                    <h6>Grade: A-</h6>
                                </a>
                                <div class="collapse" id="csc301">
                                    <p class="small">An introduction to agile development methods appropriate for medium-
                                        sized teams and rapidly-moving projects. Basic software development infrastructure;
                                        requirements elicitation and tracking; estimation and prioritization; teamwork skills;
                                        basic UML; design patterns and refactoring; security, discussion of ethical issues,
                                        and professional responsibility.</p>
                                </div>
                                <div class="chevron">
                                    <a href="#csc301" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#csc301">
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="course row-middle">
                                <a href="#csc263" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#csc263">
                                    <h4>CSC263</h4>
                                    <h5>Data Structures and Analysis</h5>
                                    <h6>Grade: A</h6>
                                </a>
                                <div class="collapse" id="csc263">
                                    <p class="small">Algorithm Analysis. Expected worst-case complexity, randomized
                                        quicksort.  Standard abstract data types, such  as graphs, dictionaries, priority queues,
                                        and disjoint sets. A variety of data structures
                                        for implementing these abstract data types, such as balanced search trees,
                                        hashing, heaps, and disjoint forests.</p>
                                </div>
                                <div class="chevron">
                                    <a href="#csc263" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#csc263">
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="course row-middle">
                                <a href="#csc108" class="btn" role="button" data-toggle="collapse" aria-expanded="false"
                                   aria-controls="#csc108">
                                    <h4>CSC108</h4>
                                    <h5>Introduction to Computer Programming</h5>
                                    <h6>Grade: A+</h6>
                                </a>
                                <div class="collapse" id="csc108">
                                    <p class="small">Programming in a language such as Python. Elementary data types,
                                        lists, maps.  Program structure: control flow, functions, classes, objects, methods.
                                        Algorithms and problem solving. Searching, sorting, and complexity. Unit testing.</p>
                                </div>
                                <div class="chevron">
                                    <a href="#csc108" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#csc108">
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    </a>
                                </div>

                            </div>
                            <div class="course row-last">
                                <a href="#csc209" class="btn" role="button" data-toggle="collapse" aria-expanded="false"
                                   aria-controls="#csc209">
                                    <h4>CSC209</h4>
                                    <h5>Software Tools and Systems Programming</h5>
                                    <h6>Grade: B+</h6>
                                </a>

                                <div class="collapse" id="csc209">
                                    <p class="small">Software techniques in a Unix-style environment, using scripting
                                        languages and a machine-oriented programming language (typically C). What goes
                                        on in the operating system when programs are executed. Core topics: creating and using
                                        software tools, pipes and filters, file processing, shell programming, processes,
                                        system calls, signals, basic network programming.</p>
                                </div>
                                <div class="chevron">
                                    <a href="#csc209" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#csc209">
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="col-sm-12 col-md-4 courses">

                            <div class="course">

                                <a href="#mat224" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#mat224">
                                    <h4>MAT224</h4>
                                    <h5>Linear Algebra II</h5>
                                    <h6 class="currently-enrolled">(Currently enrolled)</h6>
                                </a>
                                <div class="collapse" id="mat224">
                                    <p class="small">Fields, complex numbers, vector spaces over a field, linear transformations,
                                        matrix of a linear transfromation, kernel, range, dimension theorem, isomorphisms, change of basis,
                                        eigenvalues,  eigenvectors, diagonalizability, real and complex inner products, spectral theorem,
                                        adjoint/self-adjoint/normal linear operators, triangular form, nilpotent mappings, Jordan canonical form.</p>
                                </div>
                                <div class="chevron">
                                    <a href="#mat224" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#mat224">
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    </a>
                                </div>

                            </div>

                            <div class="course row-middle">
                                <a href="#csc343" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#csc343">
                                    <h4>CSC343</h4>
                                    <h5>Introduction to Databases</h5>
                                    <h6>Grade: A</h6>
                                </a>
                                <div class="collapse" id="csc343">
                                    <p class="small">Introduction to database management systems. The relational data model.
                                        Relational algebra. Querying and updating databases: the query language SQL.
                                        Application programming with SQL. Integrity constraints, normal forms, and database
                                        design. Elements of database system technology: query processing, transaction management.</p>
                                </div>
                                <div class="chevron">
                                    <a href="#csc343" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#csc343">
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="course row-middle">
                                <a href="#csc165" class="btn" role="button" data-toggle="collapse" aria-expanded="false"
                                   aria-controls="#csc165">
                                    <h4>CSC165</h4>
                                    <h5> Mathematical Expression and Reasoning for Computer Science</h5>
                                    <h6>Grade: A</h6>
                                </a>
                                <div class="collapse" id="csc165">
                                    <p class="small">Informal introduction to
                                        logical notation and reasoning. Structuring
                                        proofs. Problem-solving techniques.
                                        Running time analysis of iterative programs.  Formal definition of Big-Oh.
                                        Diagonalization, the Halting Problem. Unified approaches to
                                        programming and theoretical problems.</p>
                                </div>

                                <div class="chevron">
                                    <a href="#csc165" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#csc165">
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    </a>
                                </div>

                            </div>

                            <div class="course row-middle">
                                <a href="#csc207" class="btn" role="button" data-toggle="collapse" aria-expanded="false"
                                   aria-controls="#csc207">
                                    <h4>CSC207</h4>
                                    <h5>Software Design</h5>
                                    <h6>Grade: A-</h6>
                                </a>
                                <div class="collapse" id="csc207">
                                    <p class="small">An introduction to software design and development concepts, methods,
                                        and tools using a statically-typed object-oriented programming language such as
                                        Java. Topics from: version control, unit testing, refactoring, object-oriented
                                        design and development, design patterns, regular expressions.</p>
                                </div>
                                <div class="chevron">
                                    <a href="#csc207" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#csc207">
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    </a>
                                </div>

                            </div>

                            <div class="course row-last">
                                <a href="#csc236" class="btn" role="button" data-toggle="collapse" aria-expanded="false"
                                   aria-controls="#csc236">
                                    <h4>CSC236</h4>
                                    <h5> Introduction to the Theory of Computation</h5>
                                    <h6>Grade: B+</h6>
                                </a>
                                <div class="collapse" id="csc236">
                                    <p class="small">The application of logic and proof techniques to Computer Science.
                                        Mathematical induction; correctness proofs for iterative and recursive algorithms;
                                        recurrence equations and their solutions; introduction to automata and formal languages.</p>
                                </div>
                                <div class="chevron">
                                    <a href="#csc236" class="btn" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#csc236">
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <aside class="hobbies parallax">
        <div class="panel">
            <div class="container"></div>

        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="contact-title">
                <h1>Contact Me</h1>
                <hr>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="row contact-info">

                        <div class="col-sm-12 col-md-12">

                            <h3><i class="fa fa-at" aria-hidden="true"></i> Email</h3>

                            <h5>Personal: <span class="email">nanalelfe [at] gmail [dot] com</span></h5>
                            <h5>University: <span class="email">nargiza.nosirova [at] mail [dot] utoronto [dot] ca</span></h5>

                            <p class="small">Feel free to email me or use the form. I'll try my best to get back to you
                                as soon as possible.</p>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="contact-form">
                        <form action="/contact" method="post">
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control" name="name" placeholder="Your name">
                            </div>
                            <div class="input-group input-group-lg">
                                <input type="email" class="form-control" name="email" placeholder="Your email address">
                            </div>
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control" name="company" placeholder="Your company (optional)">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Your message" rows="10" name="message"></textarea>
                            </div>
                            <button class="btn-lg btn btn-primary btn-block send-contact"><span>Send</span></button>
                        </form>
                        {{# if success }}
                            <section class="success-banner">
                                <!-- Change those to banners later -->
                                <h4>{{ success }}</h4>
                            </section>
                        {{ else }}
                            {{# if errors }}
                                <section class="error-banner">
                                    <h4>{{ errors }}</h4>
                                </section>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>

        </div>
    </section>

</main>

<footer id="footer">
    <div class="row">
        <div class="col-md-12">
            <i class="fa fa-copyright" aria-hidden="true"></i> 2017 Nana Nosirova
        </div>
    </div>

</footer>

<!--JS-->
<script type="text/javascript" src="assets/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/appear.js"></script>
<script type="text/javascript" src="assets/js/jquery.easing-1.3.pack.js"></script>
<script type="text/javascript" src="assets/js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="assets/js/script.js"></script>
</body>
</html>