/*-------------- General ------------------*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #545454;
    background-color: #F5F5F5;
    font-weight: 300;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    outline:none;
}

p {
    padding-bottom: 10px;
    line-height: 25px;
    letter-spacing: 0px;
}

li {
    list-style-type: circle;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Montserrat',sans-serif,Arial;
    color: #424949;
    padding-bottom: 5px;
}

hr {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 8px;
    background-color: #E24E42;
    border: 0 none;
    margin-left: 0;
}

/*-------------- Cover ------------------*/
.cover-img {
    min-height: 795px;
    text-align: center;
    background-attachment: scroll;
    background-image: url('../images/nana_blue.jpg');
    background-position: center;
    background-repeat: no-repeat;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;*/
    background-size: cover;
    /*-o-background-size: cover;*/
    margin-bottom: 100px;
}

.cover-text {
    font-family: 'Pacifico', cursive;
    text-align: center;
    padding-top: 10%;
}

.cover-text > h1{
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    color: #FFFFFF;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, .9);
}

.cover-text > h4 {
    color: white;
}


/*----------------- About -----------------*/

.profile-pic {
    max-width: 100%;
}

.about-title h1, .portfolio-title h1, .resume-title h1, .contact-title h1{
    text-transform: uppercase !important;
    font-weight: 500;
    font-size: 50px;
    letter-spacing: -3px;
    line-height: 50px;
}

.download {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    background: none;
    border-color: #E24E42;
    border-width: medium;
    margin-top: 8%;
    margin-left: 25%;
}

/*------------ Asides ----------------------*/

aside {
    min-height: 600px;
    text-align: center;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    color: white;
    margin-bottom: 50px;
}

aside.languages {
    background-image: url(../images/roof.jpg);
}

aside.prog-lang {
    background-image: url(../images/emm_college.jpg);
    min-height: 400px;
}

aside.hobbies{
    background-image: url(../images/robarts.jpg);
    min-height: 400px;
}


aside h1, aside h2 {
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, .9);
}

.aside-text {
    padding-top: 8%;
}

h1.aside-title {
    text-transform: uppercase;
    margin-bottom: 5%;
}


/*------------- Portfolio ---------------*/

.thumbnail {
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.thumbnail img {
    min-height: 300px;
}


.caption {
    margin: 4px;
}

/*------------ Resume ----------------*/

#resume {
    background: #f7f7f7;
    margin-bottom: 100px;

}

.resume-item, .course {
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin-left: 15px;
    padding: 10px 30px;
    position: relative;
    width: 100%;
}

.skills h4 {
    width: 100%;
    padding-bottom: 0;
}
.resume-item-title {
    color: #363636;
    font-weight: normal;
    text-transform: uppercase;
}

.coursework {
    margin-top: 30px;
}

img.icon {
    width: 50px;
    height: 50px;
}

.courses {
    text-align: center;
}

.row-two, .row-three {
    margin-top: 25px;
}

.row-three {
    margin-bottom: 15px;
}