/*-------------- General ------------------*/

body {
    position:relative;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #545454;
    background-color: #F5F5F5;
    font-weight: 300;
    letter-spacing: 1px;
}


a {
    text-decoration: none;
    outline:none;
}

p , ul li{
    line-height: 25px;
    letter-spacing: 0px;
}

p {
    padding-bottom: 10px;
}

li {
    list-style-type: circle;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Montserrat',sans-serif,Arial;
    color: #424949;
    padding-bottom: 5px;
}

hr {
    width: 100px;
    margin-right: auto;
    height: 8px;
    background-color: #F7882F;
    border: 0 none;
    margin-left: 0;
}

/*-------------- Navbar ---------------*/

.navbar {
    font-family: 'Raleway', sans-serif;
    border-bottom: 0.3px solid #EAE3EA;
}

.navbar-nav > li > a {
    padding-top: 24px;
    padding-bottom: 24px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: #EFEFEF;

}


/*-------------- Cover ------------------*/

.cover-img {
    min-height: 795px;
    text-align: center;
    background-image: url('../images/nana_blue.jpg');
    background-repeat: no-repeat;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;*/
    background-size: cover;
    /*-o-background-size: cover;*/

}

.cover-text {
    font-family: 'Pacifico', cursive;
    text-align: center;
    padding-top: 10%;
}

.cover-text > h1{
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    color: #FFFFFF;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, .9);
}

.cover-text > h4 {
    color: white;
}

/*----------------- About -----------------*/

#about a, #portfolio a, #resume a {
    color: #545454;
}

.profile-pic {
    max-width: 100%;
}

#about {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-title h1, .portfolio-title h1, .resume-title h1, .contact-title h1{
    text-transform: uppercase !important;
    font-weight: 500;
    font-size: 50px;
    letter-spacing: -3px;
    line-height: 50px;
}

a.download, a.source-code, a.link-website{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    background: none;
    border-color: #84D8C0;
    border-width: medium;
    margin-top: 15px;

}

#about a.download {
    margin-top: 0px;
}

/*------------ Asides ----------------------*/

aside {
    min-height: 600px;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: white;
}

span.line {
    display: block;
    height: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100px;
    background-color: #4ABDAC;
    margin-left: 45%;
}

aside.prog-lang span.line {
    margin-top : 10px;
    margin-bottom: 40px;
    width: 200px;
    margin-left: 40%;
}


.parallax {
    background-attachment: fixed;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}


aside.languages {
    background-image: url(../images/roof.jpg);

}

aside.prog-lang {
    background-image: url(../images/emm_college.jpg);
    min-height: 400px;
    margin-bottom: 0;
}

aside.prog-lang .aside-text {
    padding-top: 5%;
}

aside.hobbies{
    background-image: url(../images/robarts.jpg);
    min-height: 400px;
    margin-bottom: 0;
}


aside h1, aside h2 {
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
}

.aside-text {
    padding-top: 8%;
}

h1.aside-title {
    text-transform: uppercase;
}

aside .panel {
    min-height: 600px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 0;
}

/*----- Bars ---------*/
.bars {
    font-weight: 700;
}

.bars ul li{
    list-style: none;
}

.bars li {
    margin-bottom: 60px;
    background: #dddddd;
    height: 40px;
    border-radius: 3px;
}

.bars li em {
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    color: white;
    float: left;
    padding-left: 15px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
}

.bar {
    margin: 0;
    background: #E9B000;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border-radius: 3px 0 0 3px;

}



/*------------- Portfolio ---------------*/

.collaborators a {
    color: #337ab7 !important;
    text-decoration: none;
}

.collaborators a:hover {
    color: #23527c !important;
    text-decoration: underline;
}

#personal-website .project-description {
    margin-top: 20%;
}

.pad-top {
    margin-top: 10px;
}

#portfolio #solutions-repo ul li {
    list-style: none;
}

#portfolio #solutions-repo ul ul li, #portfolio ul li {
    list-style: disc;
}

.inline {
    display: inline;
}

#portfolio  {
    padding-top: 50px;
    margin-bottom: 50px;
    margin-bottom: 0;
}

.resume-item, .course, .contact-info, .project {
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    float: left;
    margin-left: 15px;
    padding: 10px 30px;
    position: relative;
    width: 100%;
}

.project {
    margin-left: 0;
    padding-right: 15px;
    padding-bottom: 40px;
}

.thumb-collapse {
    margin-bottom: 50px;
}

.thumbnail {
    max-width: 100%;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    outline: 0 none;
    margin: 0;
}

.thumbnail img {
    margin: 0;
}

.thumbail .caption {
    max-width: 50%;
}

.btn {
    white-space: normal;
}

.caption {
    margin: 4px;
}

#projects {
    padding-top: 25px;
    padding-bottom: 25px;
}

.project img {
    margin-bottom: 25px;
}


.thumbnails a.btn-info,
.thumbnails a.btn-info:hover,
.thumbnails a.btn-info:after,
.thumbnails a.btn-info:focus {
    color: #fff;
    background-color: inherit;
    border-color: inherit;
}

.thumbnails a.btn {
    border-radius: 0px;
    border: none;
    padding: 0;

}

#portfolio .collapsing {
    -webkit-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
}

a.source-code {
    margin: 0;
    border-color: #DCB239;
}

a.link-website {
    margin: 0;
    margin-right: 5px;
}

span.in-progress {
    color: #DF744A;
}


/*------------ Resume ----------------*/

#resume, #contact, #portfolio {
    background-color: #e4e4ec;
    padding-bottom: 100px;
    padding-top: 50px;

}



.skills h4 {
    width: 100%;
    padding-bottom: 0;
}

.contact-info h5 {
    padding-bottom: 0;
}

.resume-item-title {
    color: #363636;
    font-weight: normal;
    text-transform: uppercase;
}

img.icon {
    width: 50px;
    height: 50px;
}

.courses {
    text-align: center;
}

.row-two, .row-three {
    margin-top: 25px;
}

.row-three {
    margin-bottom: 15px;
}


/*------------ Contact ---------------*/

.btn-lg {
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 3px;
}

button.send-contact {
    text-transform: uppercase;
    font-weight: 600;
    width: 70%;
    border: none;
    background-color: #57BC90;

}

button.send-contact:hover {
    background-color: #57BC90;
}


textarea.form-control {
    max-width: 70%;
    border: none;
    border-radius: 0px;
    font-size:15px !important;
}

input.form-control{
    border: none;
    outline: none;
    font-size:15px !important;
}


.input-group, .form-group{
    margin-bottom: 15px;
}

.input-group {
    min-width: 70%;
}

.contact-info {
    width: 80%;
}

.coursework {
    margin-top: 30px;
}

.social-icons {
    margin-left: 25px;
}

.social-icons a {
    color: #EAB126;
}

/*-------- Validation ----------*/

.error-banner, .success-banner {
    margin-top: 15px;
    border-radius: 5px;
    color: #FC4A1A;
    padding: 10px 30px;
    width: 70%;
}

.error-banner {
    border: 3px solid #FC4A1A;
}

.success-banner {
    border: 3px solid #93C178;
}

.error-banner h4 {
    color: #FC4A1A;
}

.success-banner h4 {
    color: #66AB8C;
}

/*-------- Footer -----------*/

footer {
    padding: 30px;
}


/*--------- Error page --------*/

.error-page  body{
    text-align: center;
}

.error-page img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.error-status {
    color: #FC4A1A;
}


/*--------- Responsive ------------*/

@media only screen and (max-width: 990px) {

    #personal-website .project-description {
        margin-top: 0;
    }

    a.source-code, a.download {
        float: left !important;
        margin-bottom: 10px;
    }

    div.resume-item, .course {
        margin-left: 0;
    }

    div.resume-item.education, div.resume-item.skills {
        margin-bottom: 10px;
    }

    div.resume-item.skills {
        text-align: center;
    }

    div.resume-item.skills.gen-skills {
        display: none;
    }

    div.resume-item.coursework {
        margin-top: 0px;
    }


    div.contact-info {
        width: 100%;
        margin-bottom: 20px;
    }

    div.contact-form {
        margin-left: 10%;
    }

    .input-group {
        min-width: 90%;
    }

    textarea.form-control {
        max-width: 90%;
    }

    button.send-contact {
        width: 90%;
    }

    .error-banner, .success-banner {
        width: 90%;
    }

}